{% extends "base.html" %}

{% block style %}
    th {
      background-color: #f2f2f2;
    }
    th, td {
      padding: 8px;
      border-bottom: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }
{% endblock style %}

{% block content %}
  <h2>문제1. 데이터 읽어오기</h2>
  {% comment %} <img src="{{ chart_image }}" alt="problem_1_image"> {% endcomment %}
    <table>
      <tr>
        {% for column in df.columns %}
          <th>{{ column }}</th>
        {% endfor %}
      </tr>
      {% for row in df.values %}
        <tr>
          {% for value in row %}
            <td>{{ value }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
{% endblock content %}